%a#link1
  %img#image1{src:'/images/logo.jpg', height:'300'}
%a#link2.display_none
  %img#image2.display_none{src:'/images/logo.jpg', height:'300'}
%h1 the photo apart
#time
%a#taken1.taken_by.display_none
%a#taken2.taken_by.display_none
#loading
  %small#poweredby
    Powered by 
    %em
      %a{href:'http://500px.com/', title:'500px'}
        500px
  %p Please wait...
%footer 2012 Counter Systems, All rights reserved.
